# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
sent_emails/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Static
staticfiles/
static/css/

# Other
.DS_Store

